@import url('https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss"; 


@theme{ 
    --font-Header: "Sassy Frass", san-serif; 
}


@theme{ 
    --font-Heading: "IMB Plex Serif", san-serif;
} 

@theme{ 
    --font-SubHeading: "Domine",san-serif;
}

@theme{ 
    --font-Text:"Space Mono",san-serif;
}

class*=carousel{ 
    overflow:hidden !important;
}